.login_button
{
	width: 160px;
	height: 100%;
	background: #14bdee;
	text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.register_button
{
	width: 160px;
	height: 100%;
	background: #f3f3f3;
	text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.register_button a
{
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
	color: #384158;
}
.login_button a
{
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
	color: white;
}
