{% extends "base_generic.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content%}
<h1 style="margin-top: 200px;margin-left: 25%;">Welcome to the Memory game</h1>

{% if request.user.username %}


<p>{{ error }}</p>
<p style="margin-left: 25px;"><strong> you want to join an existing game please ask the link from the other player. Or you can choose lesson and create new game</strong></p>
<div class="col-md-3">
    <select class="nav-link dropdown-toggle form-select" id="filter-list" onchange="openCity()"
            role="button" aria-haspopup="true" aria-expanded="false">
            <option>Choose</option>
        <optgroup label="{% trans 'Vocabulary' %}">
            
            {%for category in category%}
            <option>{{category}}</option>
            {%endfor%}            
        </optgroup>
        <optgroup label="{% trans 'Kanji' %}">
            {%for kanjilesson in kanjilevel%}
            <option>Kanji{{kanjilesson}}</option>
            {%endfor%}            
        </optgroup>
    </select>
</div>
<br>
{% for category in category %}
<div id="{{category}}" class="row courses_row city" style="display: none">

    {% for lesson in category.lesson_set.all %}
        <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label class="col-md-3" for="name" style="margin-left: 50px;"><strong>Lesson:{{lesson.name}}</strong></label>
            <input type="text" name="name" value="{{request.user}}" readonly="readonly" style="display: none;"/>
            <input type="text" name="lesson" value="{{lesson.id}}" readonly="readonly" style="display: none;"/>
            <input class="col-md-3" type="submit" value="Start a new game"/> 
        </div>
        </form>
    {% endfor %}
</div>

{%endfor%}
{% for kanjilv in kanjilevel %}
<div id="Kanji{{kanjilv}}" class="row courses_row city" style="display: none">

    {% for lesson in kanjilv.kanjilesson_set.all %}
        <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label class="col-md-3" for="name" style="margin-left: 50px;"><strong>Lesson:{{lesson.name}}</strong></label>
            <input type="text" name="name" value="{{request.user}}" readonly="readonly" style="display: none;"/>
            <input type="text" name="kanjilesson" value="{{lesson.id}}" readonly="readonly" style="display: none;"/>
            <input  class="col-md-3" type="submit" value="Start a new game"/> 
        </div>
        </form>
    {% endfor %}
</div>

{%endfor%}
<br>
{%else%}
<div class="login_button "><a href="{% url 'login' %}?next={% url 'index' %}">Sign in</a></div>
{%endif%}
{%endblock%}
{% block javascript %}
<script>
    function openCity() {
        var i;
        var x = document.getElementsByClassName("city");
        var cityName = document.getElementById("filter-list").value
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(cityName).style.display = "block";
    }
</script>
{% endblock %}
