{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% load i18n %}
{% block title %}<title>Categories</title>{% endblock %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/colorbox/colorbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/courses.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/courses_responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/lesson.css' %}">
{% endblock %}
{% block content %}

{% block home %}
	<div class="home">
		<div class="breadcrumbs_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="breadcrumbs">
							<ul>
								<li><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
								<li>{% trans 'Catagory' %}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

	<!-- Courses -->
	
	<div class="courses pt-5">
		<div class="container">
			<div class="row">

				<!-- Courses Main Content -->
				<div class="col-lg-12">
					<div class="courses_search_container">
						{%block searchform%}
						<form action="{% url 'catagory'%}" method="get" id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start">
							<input type="search" class="courses_search_input" placeholder="{% trans 'Search Category' %}"  name ='name' value="{{ request.GET.name }}">
							<input type="submit" value="{% trans 'Search'%}" class="courses_search_button ml-auto" />
						</form>
						{% endblock %}
					</div>
					<div class="courses_container">
						
						{%block content2%}
						<div class="col-md-3">
							<select class="nav-link dropdown-toggle" id="filter-list" onchange="openCity()"
									role="button" aria-haspopup="true" aria-expanded="false">
								<optgroup label="{% trans 'Level' %}">
									<option>{% trans 'All' %}</option>
									<option>{% trans 'N5' %}</option>
									<option>{% trans 'N4' %}</option>
									<option>{% trans 'N3' %}</option>
									<option>{% trans 'N2' %}</option>
									<option>{% trans 'N1' %}</option>
								</optgroup>
								<!-- <optgroup label="{% trans 'Word type' %}">
									<option>{% trans 'Noun' %}</option>
									<option>{% trans 'Verb' %}</option>
									<option>{% trans 'Adjective' %}
									</option>
								</optgroup> -->
							</select>
						</div>
						<div id="All" class="row courses_row city">
						
							{% if catagory_list %}
							<!-- Course -->
							{% for catagory in catagory_list %}
							<div class="col-lg-4 course_col">
								<div class="course">
									<div class="course_image"><img src="https://thumbs.dreamstime.com/z/learn-japanese-indicates-japan-language-speech-mountain-sun-symbols-130548046.jpg" alt=""></div>
									<div class="course_body">
										<h3 class="course_title"><a href="{{ catagory.get_absolute_url }}">{{catagory.name}}</a></h3>
										<div class="course_teacher">Mr. John Taylor</div>
										<div class="course_text">
											<p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
										</div>
									</div>
									{% comment %} <div class="course_footer">
										<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
											<div class="course_info">
												<i class="fa fa-graduation-cap" aria-hidden="true"></i>
												<span>20 Student</span>
											</div>
											<div class="course_info">
												<i class="fa fa-star" aria-hidden="true"></i>
												<span>5 Ratings</span>
											</div>
											<div class="course_price ml-auto">$130</div>
										</div>
									</div> {% endcomment %}
								</div>
							</div>
							{% endfor %}
							{% else %}
								<p>NO Catagory.</p>
							{% endif %}


						</div>
						<div id="N1" class="row courses_row city" style="display: none;">
						
							{% if catagory_list %}
							<!-- Course -->
							{% for catagory in catagory_list %}
							{%if catagory.level == 'N1'%}
							<div class="col-lg-4 course_col">
								<div class="course">
									<div class="course_image"><img src="https://thumbs.dreamstime.com/z/learn-japanese-indicates-japan-language-speech-mountain-sun-symbols-130548046.jpg" alt=""></div>
									<div class="course_body">
										<h3 class="course_title"><a href="{{ catagory.get_absolute_url }}">{{catagory.name}}</a></h3>
										<div class="course_teacher">Mr. John Taylor</div>
										<div class="course_text">
											<p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
										</div>
									</div>
									{% comment %} <div class="course_footer">
										<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
											<div class="course_info">
												<i class="fa fa-graduation-cap" aria-hidden="true"></i>
												<span>20 Student</span>
											</div>
											<div class="course_info">
												<i class="fa fa-star" aria-hidden="true"></i>
												<span>5 Ratings</span>
											</div>
											<div class="course_price ml-auto">$130</div>
										</div>
									</div> {% endcomment %}
								</div>
							</div>
							{%endif%}
							{% endfor %}
							{% else %}
								<p>NO Catagory.</p>
							{% endif %}


						</div>
						<div id="N2" class="row courses_row city" style="display: none;">
						
							{% if catagory_list %}
							<!-- Course -->
							{% for catagory in catagory_list %}
							{%if catagory.level == 'N2'%}
							<div class="col-lg-4 course_col">
								<div class="course">
									<div class="course_image"><img src="https://thumbs.dreamstime.com/z/learn-japanese-indicates-japan-language-speech-mountain-sun-symbols-130548046.jpg" alt=""></div>
									<div class="course_body">
										<h3 class="course_title"><a href="{{ catagory.get_absolute_url }}">{{catagory.name}}</a></h3>
										<div class="course_teacher">Mr. John Taylor</div>
										<div class="course_text">
											<p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
										</div>
									</div>
									{% comment %} <div class="course_footer">
										<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
											<div class="course_info">
												<i class="fa fa-graduation-cap" aria-hidden="true"></i>
												<span>20 Student</span>
											</div>
											<div class="course_info">
												<i class="fa fa-star" aria-hidden="true"></i>
												<span>5 Ratings</span>
											</div>
											<div class="course_price ml-auto">$130</div>
										</div>
									</div> {% endcomment %}
								</div>
							</div>
							{%endif%}
							{% endfor %}
							{% else %}
								<p>NO Catagory.</p>
							{% endif %}


						</div>
						<div id="N3" class="row courses_row city" style="display: none;">
						
								{% if catagory_list %}
								<!-- Course -->
								{% for catagory in catagory_list %}
								{%if catagory.level == 'N3'%}
								<div class="col-lg-4 course_col">
									<div class="course">
										<div class="course_image"><img src="https://thumbs.dreamstime.com/z/learn-japanese-indicates-japan-language-speech-mountain-sun-symbols-130548046.jpg" alt=""></div>
										<div class="course_body">
											<h3 class="course_title"><a href="{{ catagory.get_absolute_url }}">{{catagory.name}}</a></h3>
											<div class="course_teacher">Mr. John Taylor</div>
											<div class="course_text">
												<p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
											</div>
										</div>
										{% comment %} <div class="course_footer">
											<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
												<div class="course_info">
													<i class="fa fa-graduation-cap" aria-hidden="true"></i>
													<span>20 Student</span>
												</div>
												<div class="course_info">
													<i class="fa fa-star" aria-hidden="true"></i>
													<span>5 Ratings</span>
												</div>
												<div class="course_price ml-auto">$130</div>
											</div>
										</div> {% endcomment %}
									</div>
								</div>
								{%endif%}
								{% endfor %}
								{% else %}
									<p>NO Catagory.</p>
								{% endif %}
	
	
							</div>
							<div id="N4" class="row courses_row city" style="display: none;">
						
								{% if catagory_list %}
								<!-- Course -->
								{% for catagory in catagory_list %}
								{%if catagory.level == 'N4'%}
								<div class="col-lg-4 course_col">
									<div class="course">
										<div class="course_image"><img src="https://thumbs.dreamstime.com/z/learn-japanese-indicates-japan-language-speech-mountain-sun-symbols-130548046.jpg" alt=""></div>
										<div class="course_body">
											<h3 class="course_title"><a href="{{ catagory.get_absolute_url }}">{{catagory.name}}</a></h3>
											<div class="course_teacher">Mr. John Taylor</div>
											<div class="course_text">
												<p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
											</div>
										</div>
										{% comment %} <div class="course_footer">
											<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
												<div class="course_info">
													<i class="fa fa-graduation-cap" aria-hidden="true"></i>
													<span>20 Student</span>
												</div>
												<div class="course_info">
													<i class="fa fa-star" aria-hidden="true"></i>
													<span>5 Ratings</span>
												</div>
												<div class="course_price ml-auto">$130</div>
											</div>
										</div> {% endcomment %}
									</div>
								</div>
								{%endif%}
								{% endfor %}
								{% else %}
									<p>NO Catagory.</p>
								{% endif %}
	
	
							</div>
							<div id="N5" class="row courses_row city" style="display: none;">
						
								{% if catagory_list %}
								<!-- Course -->
								{% for catagory in catagory_list %}
								{%if catagory.level == 'N5'%}
								<div class="col-lg-4 course_col">
									<div class="course">
										<div class="course_image"><img src="https://thumbs.dreamstime.com/z/learn-japanese-indicates-japan-language-speech-mountain-sun-symbols-130548046.jpg" alt=""></div>
										<div class="course_body">
											<h3 class="course_title"><a href="{{ catagory.get_absolute_url }}">{{catagory.name}}</a></h3>
											<div class="course_teacher">Mr. John Taylor</div>
											<div class="course_text">
												<p>Lorem ipsum dolor sit amet, consectetur adipi elitsed do eiusmod tempor</p>
											</div>
										</div>
										{% comment %} <div class="course_footer">
											<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
												<div class="course_info">
													<i class="fa fa-graduation-cap" aria-hidden="true"></i>
													<span>20 Student</span>
												</div>
												<div class="course_info">
													<i class="fa fa-star" aria-hidden="true"></i>
													<span>5 Ratings</span>
												</div>
												<div class="course_price ml-auto">$130</div>
											</div>
										</div> {% endcomment %}
									</div>
								</div>
								{%endif%}
								{% endfor %}
								{% else %}
									<p>NO Catagory.</p>
								{% endif %}
	
	
							</div>
						{% endblock %}
						<div class="row pagination_row">
							<div class="col">
								<div class="pagination_container d-flex flex-row align-items-center justify-content-start">
								{% if is_paginated %}
									<ul class="pagination_list">
									{% if page_obj.has_previous %}
										<li><a href="{{ request.path }}?name={{ request.GET.name }}&page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
									{% else %}
										<li class="disabled"><i class="fa fa-angle-left" aria-hidden="true"></i></li>
									{% endif %}
									{% for i in paginator.page_range %}
										{% if page_obj.number == i %}
											<li class="active"><a href="#">{{ i }}</a></li>
										{% else %}
											<li><a href="{{ request.path }}?name={{ request.GET.name }}&page={{ i }}">{{ i }}</a></li>
										{% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
										<li><a href="{{ request.path }}?name={{ request.GET.name }}&page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
									{% else %}
										<li class="disabled"><i class="fa fa-angle-right" aria-hidden="true"></i></li>
									{% endif %}
									</ul>
								{% endif %}
								</div>
							</div>
						</div>

					</div>
				</div>


			</div>
		</div>
	</div>

	<!-- Footer -->


{% endblock %}
{% block plugin %}
	<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static 'styles/bootstrap4/popper.min.js'%}"></script>
	<script src="{% static 'styles/bootstrap4/bootstrap.min.js'%}"></script>
	<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
	<script src="{% static 'plugins/easing/easing.js' %}"></script>
	<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
	<script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
	<script src="{% static 'js/courses.js' %}"></script>
	<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
      
	<script src="{% static 'plugins/greensock/TweenMax.min.js'%}"></script>
	<script src="{% static 'plugins/greensock/TimelineMax.min.js'%}"></script>
	<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js'%}"></script>
	<script src="{% static 'plugins/greensock/animation.gsap.min.js'%}"></script>
	<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js'%}"></script>
    <script src="{% static 'js/custom.js'%}"></script>
{% endblock %}
{% block javascript %}
<script>
    function openCity() {
        var i;
        var x = document.getElementsByClassName("city");
        var cityName = document.getElementById("filter-list").value
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        console.log('success')
        document.getElementById(cityName).style.display = "inline-flex";
    }
</script>
{% endblock %}
