{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" id="bootstrap-css" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/styles/myuser_profile.css'%}">
{% endblock %}

{% block content %}
    <div class="home">
        <div class="container emp-profile" style="margin-top: 200px">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{ myuser.avatar.url }}"
                             alt=""/>
                        <!--                        <div class="file btn btn-lg btn-primary" id="change_avatar" style="border-radius: 10rem;">-->
                        <!--                            {% trans 'Change avatar' %}-->
                        <!--                            <input type="file" id="get_avatar" onchange="GFG_Fun()" name="avatar"/>-->
                        <!--                        </div>-->
                        <!--                        <input type="submit" class="file btn btn-lg btn-primary" id="save_avatar"-->
                        <!--                                style="border-radius: 10rem;"-->
                        <!--                            value="{% trans 'Save' %}">-->
                        <!--                        <input type="reset" class="file btn btn-lg btn-primary" id="cancel_avatar"-->
                        <!--                                style="border-radius: 10rem;"-->
                        <!--                            value="{% trans 'Cancel' %}">-->
                        <br>
                        {% if user.badge %}
                        <button class="btn btn-primary" style="background-color: green;">
                            <h4>{{user.badge.name}}
                                <span class="badge badge-success"></span>
                            </h4>
                        </button>
                        
                        {% endif %}
                    </div>
                    
                        
                    
                </div>
                
                <div class="col-md-6">
                    <div class="row">
                        <div class="profile-head">
                            <h5>
                                {{user.username}}
                            </h5>
                            <h6>
                                {{user.email}}
                            </h6>
                            <h6>Points:
                                <span class="badge badge-success">{{user.interface.points}}</span>
                            </h6>
                            <p class="proile-rating"></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                       aria-controls="home" aria-selected="true">{% trans 'About' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile" aria-selected="false">{% trans 'Learned word' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#badge" role="tab"
                                       aria-controls="badge" aria-selected="false">{% trans 'Badge' %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{% trans 'Name' %}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{user.username}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{% trans 'Email' %}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{user.email}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{% trans 'Category' %}</label>
                                        </div>
                                        
                                        <div class="col-md-3">
                                            <label>{% trans 'Percent' %}</label>
                                        </div>
                                    </div>
                                   
                                        <div class="row">
                                            {%for cata in listcata%}
                                            <div class="col-md-6">
                                                {%if cata.name %}
                                                <a href="{{cata.get_absolute_url}}">{{cata}}</a>
                                                {%else%}
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: {{cata}}%" aria-valuenow="{{cata}}" aria-valuemin="0" aria-valuemax="100">{{cata}}%</div>
                                                  </div>
                                                
                                                {%endif%}

                                            </div>
                                            
                                            {% endfor %}
                                            
                                        </div>
                                    
                                </div>
                                <div class="tab-pane fade" id="badge" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>{% trans 'Badge' %}</label>
                                        </div>

                                        <div class="col-md-6">
                                            <label>{% trans 'Description' %}</label>
                                        </div>

                                        <div class="col-md-3">
                                            <label>{% trans 'Set' %}</label>
                                        </div>
                                    </div>
                                    {% for badge in myuser.interface.badge_set.all %}
                                        {% if badge.acquired%}
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <a>{{badge.name}}</a>
                                                </div>

                                                <div class="col-md-6">
                                                    <a>{{badge.description}}</a>
                                                </div>
                                                   
                                                <div class="col-md-3">
                                                    <form action="{% url 'set-badge' user.id badge.id %}">
                                                        <button type="submit">+</button>
                                                    </form>
                                                </div>
                                            </div>
                                        {%endif%}
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                        </div>
                </div>
                {% if user.id == request.user.id %}
                <div class="col-md-2">
                    <a role="button" href="{% url 'profile-update' user.id %}" class="profile-edit-btn btn active" aria-pressed="true">
                        {% trans 'Edit profile' %}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


