{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% block css %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Unicat project">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'plugins/colorbox/colorbox.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'styles/lesson.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/course_responsive.css' %}">
<style type="text/css">
        nav {height: 20px; }
    </style>
{% endblock %}
{% block content %}
<div id="userid" data-id="{{request.user.id}}" class="team" style="margin-top: 140px;">
    <div class="team_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/team_background.jpg'%}" data-speed="0.8"></div>
    <div class="container">
        <div class="course_tabs_container">
            <div class="tabs d-flex flex-row align-items-center justify-content-start">
                <div class="tab">
                    {% trans 'Learned Word' %}
                </div>
                <div class="tab active">
                    {% trans 'Chart' %}
                </div>
                <div class="tab">
                    {% trans 'Tests' %}
                </div>
            </div>
            <div class="tab_panels">

            <!-- Learned Word -->
            <div class="tab_panel ">
                <div class="tab_panel_title">Learned Word &emsp;  Total Learned Word : {{total_learned|length}}</div>
                
                <div class="tab_panel_content">
                    <div class="accordions">
                            
                        <div class="elements_accordions">
                        {%for word_learned in list_learned%}
                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                <div>{{word_learned.word}}</div>
                                </div>
                                <div class="accordion_panel">
                                    <p> {{word_learned.word.mean}} </p>
                                </div>
                            </div>
                        {%endfor%}
                        </div>
                        <nav aria-label="Page navigation example">
                        <ul class="pagination">

                            {% if list_learned.has_previous %}
                            <li class="mr-1"><a href="?page={{ list_learned.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled mr-1"><span>&laquo;</span></li>
                            {% endif %}

                            {% if list_learned.number > 5 %}
                            <li><a href="?page=1"><i>1</i></a></li>
                            {% endif %}

                            {% for i in list_learned.paginator.page_range %}
                            {% if i > list_learned.number|add:"-5" %}
                                {% if i < list_learned.number|add:"5" %}
                                    {% if list_learned.number == i %}
                            <li class="active mr-1"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                            <li class="mr-1"><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% endfor %}

                            {% if list_learned.number < list_learned.paginator.num_pages|add:"-5" %}
                            <li class="mr-1"><a href="?page={{ list_learned.paginator.num_pages }}"><i>{{ list_learned.paginator.num_pages }}</i></a></li>
                            {% endif %}

                            {% if list_learned.has_next %}
                            <li><a href="?page={{ list_learned.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Curriculum -->
            <div class="tab_panel tab_panel_2 active">
                <div class="tab_panel_title">Process &emsp;</div>
                
                <div class="tab_panel_content" >
                    <div class="col-sm-5" style="display: inline-block;">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                    <div class="col-sm-5" style="display: inline-block;">
                        <canvas id="myChart2" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>

            <!-- Reviews -->
            <div class="tab_panel tab_panel_3">
                <div class="tab_panel_title">Test  &emsp;  Total Tested Tests : {{total_tested|length}}</div>
                
                <div class="tab_panel_content">
                    <div class="accordions">
                            
                        <div class="elements_accordions">
                        {%for test in list_tested%}
                            <div class="accordion_container">
                                <div class="accordion d-flex flex-row align-items-center">
                                    <div>{{test.test}}</div>
                                </div>
                                <div class="accordion_panel">
                                    <p>Correct Answers : {{test.correct_answer_num}}</p>
                                </div>
                            </div>
                        {%endfor%}
                        </div>
                        <nav aria-label="Page navigation example">
                        <ul class="pagination">

                            {% if list_tested.has_previous %}
                            <li class="mr-1"><a href="?page={{ list_tested.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled mr-1"><span>&laquo;</span></li>
                            {% endif %}

                            {% if list_tested.number > 5 %}
                            <li class="mr-1"><a href="?page=1"><i>1</i></a></li>
                            {% endif %}

                            {% for i in list_tested.paginator.page_range %}
                            {% if i > list_tested.number|add:"-5" %}
                                {% if i < list_tested.number|add:"5" %}
                                    {% if list_tested.number == i %}
                            <li class="active mr-1"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                            <li class="mr-1"><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% endfor %}

                            {% if list_tested.number < list_tested.paginator.num_pages|add:"-5" %}
                            <li class="mr-1"><a href="?page={{ list_tested.paginator.num_pages }}"><i>{{ list_tested.paginator.num_pages }}</i></a></li>
                            {% endif %}

                            {% if list_tested.has_next %}
                            <li ><a href="?page={{ list_tested.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                        </nav>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js'%}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js'%}"></script>
    <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js'%}"></script>
    <script src="{% static 'plugins/easing/easing.js'%}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js'%}"></script>
    <script src="{% static 'plugins/colorbox/jquery.colorbox-min.js'%}"></script>
    <script src="{% static 'js/course.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block javascript %}
<script>
    
    var userid = $("#userid").data('id')
    var labels = []
    var defaultData = []
    var datar = []
    var datal = []
    var datan = []
    var datag = []
    $.ajax({
            method: "GET",
            url: '/gogoedu/summary/chart/',
            data: {
                user_id:userid,
            },
            success: function (data) {
                labels=data.labels
                defaultData=data.data
                datar=data.datar
                datal=data.datal
                datan = data.datan
                datag = data.datag
                setChart()
            },
    })
    function setChart(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels:labels,
            datasets: [{
                label: 'Learned Words',
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            },{
            type: 'line',
            label: 'Kanji',
            backgroundColor: "#e755ba",
            data: datan,
        },{
            type: 'line',
            label: 'Grammar',
            backgroundColor: "green",
            data: datag,
        },

        ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    var mixedChart = new Chart(ctx2, {
    data: {
        datasets: [{
            type: 'bar',
            label: 'Reading',
            backgroundColor:"red",
            data: datar,
        }, {
            type: 'line',
            label: 'Listening',
            backgroundColor:"yellow",
            data: datal,
        }],
        labels: labels,
    },
    options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    }
   
    
</script>

{%endblock%}
