{% extends "base_generic.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles_test_alphabet.css'%}">
{% endblock %}

{% block content%}
<div id="quiz">
    <div id="settings">
        <button onclick="reset()">Reset everything</button>

        <div id="settings_label">I want to learn:</div>
        <div id="settings_kana"></div>
    </div>
    <div id="challange_box">
        <div id="current_kana">

        </div>
        <div id="answer_field_wrapper">
            <div id="answer_field" contenteditable></div>
        </div>
    </div>
    <div id="stats">
        <div id="timer">00.00</div>
        <div>
            <span>Last score: </span>
            <span id="lastScore"></span>
        </div>
    </div>
</div>

<template id="settings_input">
    <div class="setting">
        <input type="checkbox" autocomplete="off" /><label></label>
    </div>
</template>
    {% endblock %}
{% block javascript %}
<script type="text/javascript">

    init();

</script>
{% endblock %}
{% block plugin %}
<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'styles/bootstrap4/popper.min.js'%}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js'%}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js'%}"></script>
<script src="{% static 'plugins/easing/easing.js'%}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js'%}"></script>
<script src="{% static 'plugins/colorbox/jquery.colorbox-min.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>
{% endblock %}

