{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/jquery.countdown.css' %}">
<style type="text/css">
    #defaultCountdown {
        width: 240px;
        height: 55px;
    }
</style>
{% endblock %}
{% block content %}
<div class="team" style="margin-top: 120px;">
    <div class="team_background parallax-window" data-parallax="scroll"
         data-image-src="{% static 'images/team_background.jpg'%}" data-speed="0.8"></div>
    <div class="container w-25">
        <div id="page-wrap">
            <ol>
                <h1 class="text-center">{{test.name}}</h1>
                <div class="d-flex justify-content-center mt-3">
                    <p id="defaultCountdown"></p>
                </div>
                <form class="mt-5" action="" method="POST" id="quiz" data-id="{{test.id}}">
                    {% csrf_token %}
                    {% for question in test.question_set.all %}
                    <li style="font-size: 1.2rem;">
                        <h3 class="mb-2"><strong>{{question}}</strong></h3>
                        {% for choice in question.choice_set.all %}
                        <label class="radio" for="">
                            <input type="radio"
                                   class="choice-input"
                                   value="{{ choice.id }}"
                                   name="question-{{ question.id }}"
                                   {% if my_test.is_paused %} disabled="disabled" {%endif%}
                                   {% if choice in choices%} checked="checked" {%endif%}>
                            {{choice}}
                        </label>
                        <br>
                        {% endfor %}
                    </li>
                    {% endfor %}
                    <div class="row mt-5 d-flex justify-content-between">
                        <div>
                            <a type="button" class="btn btn-outline-success"
                                   id="pauseBtn" data-id="{{ my_test.is_paused }}"
                                   onclick="return confirm('Are you sure you want to pause your test?');"
                                   data-url="{% url 'test-paused' test.id %}">{% trans 'Pause' %}</a>
                            <input type="button" class="btn btn-outline-success ml-4"
                                   id="saveBtn"
                                   data-url="{% url 'test-saved' test.id %}"
                                   value="{% trans 'Save'%}">
                        </div>
                        <input type="submit" class="btn btn-primary" value="{% trans 'Submit'%}">
                    </div>
                </form>
            </ol>
        </div>
    </div>
</div>
{%block plugin%}
<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'styles/bootstrap4/popper.min.js'%}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.plugin.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
{%endblock%}
{% block javascript %}
{%if test.lesson %}
<script>
    $(document).ready(function () {
        var timer = $('#defaultCountdown')
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();
        var pauseBtn = $("#pauseBtn")
        var is_paused = pauseBtn.data('id')
        console.log(is_paused)
        // if (is_paused) {
        //     timer.countdown('pause')
        // } else {
        //     timer.countdown('resume')
        // }
        pauseBtn.unbind("click");

        pauseBtn.on('click', function () {
            console.log('pause')
            var this_ = $(this)
            var url_ = $("#pauseBtn").data('url')
            var choice_input = $(".choice-input")
            var test_time = timer.countdown('getTimes')[5] * 60 + timer.countdown('getTimes')[6]
            console.log(test_time)

            $.ajax({
                url: url_,
                data: {
                    csrfmiddlewaretoken: csrfToken,
                    id: $("#quiz").data('id'),
                    test_time: test_time
                },
                type: 'post',
                success: function (response) {
                    timer.countdown('pause')
                    window.close()
                    this_.attr("href", "{% url 'lesson-detail' test.lesson.id %}");
                }
            })
        });

        $("#saveBtn").unbind("click")
        $("#saveBtn").on('click', function () {
            var serializedData = $("#quiz").serialize()
            console.log(serializedData)
            var this_ = $(this)
            var url_ = this_.data('url')

            $.ajax({
                url: url_,
                data: serializedData,
                type: 'post',
                success: function (response) {
                    console.log(response.data)
                }
            })
        });

    });
    $(function () {
        $('#defaultCountdown').countdown({
            until: '+{{test_time}}s',
            format: 'YOWDHMS',
            significant: 2,
            onExpiry: time_over
        });

    });

    function time_over() {
        alert("{% trans 'Time off!' %}");
        document.getElementById("quiz").submit();
    }

</script>
{%elif test.kanji_lesson%}
<script>
    $(document).ready(function () {
        var timer = $('#defaultCountdown')
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();
        var pauseBtn = $("#pauseBtn")
        var is_paused = pauseBtn.data('id')
        console.log(is_paused)
        // if (is_paused) {
        //     timer.countdown('pause')
        // } else {
        //     timer.countdown('resume')
        // }
        pauseBtn.unbind("click");

        pauseBtn.on('click', function () {
            console.log('pause')
            var this_ = $(this)
            var url_ = $("#pauseBtn").data('url')
            var choice_input = $(".choice-input")
            var test_time = timer.countdown('getTimes')[5] * 60 + timer.countdown('getTimes')[6]
            console.log(test_time)

            $.ajax({
                url: url_,
                data: {
                    csrfmiddlewaretoken: csrfToken,
                    id: $("#quiz").data('id'),
                    test_time: test_time
                },
                type: 'post',
                success: function (response) {
                    timer.countdown('pause')
                    window.close()
                    this_.attr("href", "{% url 'kanji-detail' test.kanji_lesson.id test.kanji_lesson.kanji_level.id %}");
                }
            })
        });

        $("#saveBtn").unbind("click")
        $("#saveBtn").on('click', function () {
            var serializedData = $("#quiz").serialize()
            console.log(serializedData)
            var this_ = $(this)
            var url_ = this_.data('url')

            $.ajax({
                url: url_,
                data: serializedData,
                type: 'post',
                success: function (response) {
                    console.log(response.data)
                }
            })
        });

    });
    $(function () {
        $('#defaultCountdown').countdown({
            until: '+{{test_time}}s',
            format: 'YOWDHMS',
            significant: 2,
            onExpiry: time_over
        });

    });

    function time_over() {
        alert("{% trans 'Time off!' %}");
        document.getElementById("quiz").submit();
    }

</script>
{%else%}
<script>
    $(document).ready(function () {
        var timer = $('#defaultCountdown')
        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();
        var pauseBtn = $("#pauseBtn")
        var is_paused = pauseBtn.data('id')
        console.log(is_paused)
        // if (is_paused) {
        //     timer.countdown('pause')
        // } else {
        //     timer.countdown('resume')
        // }
        pauseBtn.unbind("click");

        pauseBtn.on('click', function () {
            console.log('pause')
            var this_ = $(this)
            var url_ = $("#pauseBtn").data('url')
            var choice_input = $(".choice-input")
            var test_time = timer.countdown('getTimes')[5] * 60 + timer.countdown('getTimes')[6]
            console.log(test_time)

            $.ajax({
                url: url_,
                data: {
                    csrfmiddlewaretoken: csrfToken,
                    id: $("#quiz").data('id'),
                    test_time: test_time
                },
                type: 'post',
                success: function (response) {
                    timer.countdown('pause')
                    window.close()
                    this_.attr("href", "{% url 'grammar-detail' test.grammar_lesson.id test.grammar_lesson.grammar_level.id %}");
                }
            })
        });

        $("#saveBtn").unbind("click")
        $("#saveBtn").on('click', function () {
            var serializedData = $("#quiz").serialize()
            console.log(serializedData)
            var this_ = $(this)
            var url_ = this_.data('url')

            $.ajax({
                url: url_,
                data: serializedData,
                type: 'post',
                success: function (response) {
                    console.log(response.data)
                }
            })
        });

    });
    $(function () {
        $('#defaultCountdown').countdown({
            until: '+{{test_time}}s',
            format: 'YOWDHMS',
            significant: 2,
            onExpiry: time_over
        });

    });

    function time_over() {
        alert("{% trans 'Time off!' %}");
        document.getElementById("quiz").submit();
    }

</script>
{%endif%}
{%endblock%}
{% endblock %}
