{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<!-- Team -->
<div class="team" style="margin-top: 140px;">
	<div class="team_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/team_background.jpg'%}" data-speed="0.8"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<h2 class="section_title">{% trans 'We are gogo team' %}</h2>
					<div class="section_subtitle"><p>{% trans 'we wanna bring true value to you' %}</p></div>
				</div>
			</div>
		</div>
		<div class="row team_row">
			
			<!-- Team Item -->
			<div class="col-lg-4 col-md-6 team_col">
				<div class="team_item">
					<div class="team_image"><img src="{% static 'images/team_1.jpg'%}" alt=""></div>
					<div class="team_body">
						<div class="team_title"><a href="#">Nguyễn Quang Anh</a></div>
						<div class="team_subtitle">{% trans 'Team leader' %}</div>
						<div class="social_list">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Team Item -->
			<div class="col-lg-4 col-md-6 team_col">
				<div class="team_item">
					<div class="team_image"><img src="{% static 'images/team_2.jpg'%}" alt=""></div>
					<div class="team_body">
						<div class="team_title"><a href="#">Đặng Hoàng Tuấn</a></div>
						<div class="team_subtitle">{% trans 'Developer' %}</div>
						<div class="social_list">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Team Item -->
			<div class="col-lg-4 col-md-6 team_col">
				<div class="team_item">
					<div class="team_image"><img src="{% static 'images/team_3.jpg'%}" alt=""></div>
					<div class="team_body">
						<div class="team_title"><a href="#">Lê Minh Quang</a></div>
						<div class="team_subtitle">{% trans 'Developer' %}</div>
						<div class="social_list">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
