{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="team" style="margin-top: 140px;">
	<div class="row">
		<div class="col">
			<div class="section_title_container text-center">
				<h2 class="section_title">{% trans 'Contact us' %}</h2>
				<div class="section_subtitle"><p>{% trans 'we wanna bring true value to you' %}</p></div>
			</div>
		</div>
	</div>
	<!-- Footer Contact -->
	<div class="footer_section footer_contact">
		<div class="footer_title">{% trans 'Contact Us' %}</div>
		<div class="footer_contact_info">
			<ul>
				<li  style= "color: #18196a!important;">{% trans 'Email: gogoedu@gmail.com' %}</li>
				<li  style= "color: #18196a!important;">{% trans 'Phone:  +(84) 914674590' %}</li>
				<li  style= "color: #18196a!important;">{% trans 'stage 11, Handico tower, Pham Hung street, Nam Tu Liem distric, Hanoi, Vietnam' %} </li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
