{% load static %}
{% load i18n %}
{% load user_tags %}
{% load notifications_tags %}

	<!-- Header -->
	<header class="header" id="home-link" >
		<!-- Top Bar -->
		<div class="top_bar">
			<div class="top_bar_container d-flex flex-column justify-content-center" style="height: 3rem">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="top_bar_content d-flex flex-row align-items-center justify-content-between">
								<ul class="top_bar_contact_list">
									<li><div class="question">Have any questions?</div></li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<div>(+84)0123456789</div>
									</li>
									<li>
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<div>gogoedu@gmail.com</div>
									</li>
								</ul>
								{% if request.user.is_authenticated %}
								<div class="d-flex flex-row align-items-center justify-content-end">
									<ul class="navbar-nav ml-auto nav-flex-icons" style="flex-direction: row;">
										<a href="#" class="notification dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true">
											<i class="fa fa-bell" style="font-size:24px"></i>
											<span class="badge">{% live_notify_badge %}</span>
										</a>
											  <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="text-align: center;">
												
												  {% for notification in  user.notifications.unread|slice:":5"  %}
													  <div>
													  Message from <b>GogoEdu</b>
													<button class="dropdown-item" type="button">{{ notification.description }}</button>			
													</div>
													<div class="dropdown-divider"></div>
												{% endfor %}
												<a href="{% url 'notifications:unread' %}">See All</a>
												</div>
										
												<!-- {% live_notify_list list_class="live_notify_list dropdown-menu" %} -->
										<li class="nav-item avatar dropdown" style="color: white; cursor: pointer;">
											
											<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
											  aria-haspopup="true" aria-expanded="false">
											  <img src="{{ request.user.avatar.url }}" class="rounded-circle z-depth-0"
												alt="avatar image" style="height: 2.1rem; width: 2.1rem;">
												{{request.user.username}}
									
												<button class="btn btn-primary" style="background-color: green;">
													<h5>{{request.user.badge.name}}
														<p id="point" class="badge badge-success">{{request.user.interface.points}}</p>
													</h5>
												</button>
												
												
											</a>
											
											<div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
											  aria-labelledby="navbarDropdownMenuLink-55">
											  	<a class="dropdown-item" href="{% url 'profile-detail' request.user.id %}">{% trans 'My profile' %}</a>
												{% if request.user.is_superuser or request.user|has_group:"Teacher" %}
													<a class="dropdown-item" href="/admin">Admin site</a>
												{% endif %}
												<a class="dropdown-item" href="{% url 'show_summary'%}">Summary</a>
												<a class="dropdown-item" href="{% url 'memory:welcome'%}">Play quiz with friend</a>
											  <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Log out' %}</a>
											</div>
										</li>
									</ul>
								</div>
								
								{% else %}
								<div class="d-flex flex-row align-items-center justify-content-end">
									<div class="top_bar_login dropdown">
										<div class="login_button "><a href="{% url 'login' %}?next={% url 'index' %}">{% trans 'Sign in' %}</a></div>
									</div>
									<div class="top_bar_login ml-auto">
										<div class="register_button"><a href="{% url 'register' %}">{% trans 'Register' %}</a></div>
									</div>
								</div>
								{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_content d-flex flex-row align-items-center justify-content-start">
							<div class="logo_container">
								<a href="{% url 'index' %}">
									<div class="logo_text">GoGo<span>Edu</span></div>
								</a>
							</div>
							<nav class="main_nav_contaner ml-auto">
								<ul class="main_nav">
									<li class="{% if request.path == '/gogoedu/' %}active{% endif %}"><a href="{% url 'index' %}">{% trans 'Home' %}</a></li>
									<li class="{% if request.path == '/gogoedu/catagory/' %}active{% endif %} dropdown">
										<a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #384158;">
											Learn
										</a>
										  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<a class="dropdown-item" href="{% url 'alphabet' %}">{% trans 'Alphabet' %}</a>
											<a class="dropdown-item" href="{% url 'catagory' %}">{% trans 'Vocabulary' %}</a>
											<a class="dropdown-item" href="{% url 'kanji' %}">{% trans 'Kanji' %}</a>
											<a class="dropdown-item" href="{% url 'grammar' %}">{% trans 'Grammar' %}</a>
											<a class="dropdown-item" href="{% url 'reading' %}">{% trans 'Reading' %}</a>
											<a class="dropdown-item" href="{% url 'listening' %}">{% trans 'Listening' %}</a>
										  </div>
									</li>
									
									<!-- <li><a href="blog.html">Blog</a></li> -->
									<!-- <li><a href="#">Page</a></li> -->
									
									<li class="{% if request.path == '/gogoedu/leaderboard/' %}active{% endif %}"><a href="{% url 'leaderboard' %}">{% trans 'Leaderboard' %}</a></li>
									{% if request.user.is_authenticated %}

									<li id = "mission">
										<div class="btn-group">
											<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											  Mission
											</button>
											<div class="dropdown-menu">
												<div>
													<div id="dailylogin">Daily Login</div>
													<div class="progress">
														<div id="dailyloginp" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">0%</div>
													</div>
												</div>
												<div>
													<div id="word">Word</div>
													<div class="progress">
														<div id="wordp" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
													</div>
												</div>
												<div>
													<div id="kanji">Kanji</div>
													<div class="progress">
														<div id="kanjip" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
													</div>
												</div>
												<div>
													<div id="grammar">Grammar</div>
													<div class="progress">
														<div id="grammarp" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
													</div>
												</div>
												<div>
													<div id="reading">Reading</div>
													<div class="progress">
														<div id="readingp" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
													</div>
												</div>
												<div>

													
													<div id="listening">Listening</div>
													<div class="progress">
														<div id="listeningp" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0%</div>
													</div>
												</div>

											</div>
										  </div>
									</li>
									<!-- <li class="{% if request.path == '/gogoedu/listtest/' %}active{% endif %}"><a href="{% url 'listtest' %}">{% trans 'Test' %}</a></li> -->
									{%endif%}
									<li><form action="{% url 'change_language' %}" method="post">
										{% csrf_token %}
										<select class="dropdown_item_select home_search_input " name="language" style="width:8.2rem;">
										{% get_available_languages as LANGUAGES %}
											{% for language in LANGUAGES %}
											<option value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %} selected{% endif %}>
												{{ language.0|language_name_local }} ({{ language.0 }})
											</option>
											{% endfor %}
										</select>
										<input type="submit" class="btn btn-primary" value="{% trans 'Change language' %}">
									</form></li>
								</ul>
								
								<div class="hamburger menu_mm">
									<i class="fa fa-bars menu_mm" aria-hidden="true"></i>
								</div>
							</nav>

						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Search Panel -->
		<div class="header_search_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_search_content d-flex flex-row align-items-center justify-content-end">
							<form action="#" class="header_search_form">
								<input type="search" class="search_input" placeholder="Search" required="required">
								<button class="header_search_button d-flex flex-column align-items-center justify-content-center">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
		<div class="menu_close_container">
			<div class="menu_close">
			</div>
		</div>
		<div class="search">
			<form action="#" class="header_search_form menu_mm">
				<input type="search" class="search_input menu_mm" placeholder="Search" required="required">
				<button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
					<i class="fa fa-search menu_mm" aria-hidden="true"></i>
				</button>
			</form>
		</div>
		<nav class="menu_nav">
			<ul class="menu_mm">
				<li class="menu_mm"><a href="index.html">Home</a></li>
				<li class="menu_mm"><a href="#">Category</a></li>
				<li class="menu_mm"><a href="#">Flashcard</a></li>
				<li class="menu_mm"><a href="#">Leaderboard</a></li>
			</ul>
		</nav>
	</div>
