{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<!-- Team -->
<div class="team" style="margin-top: 140px;">
	<div class="team_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/team_background.jpg'%}" data-speed="0.8"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<h2 class="section_title">{% trans 'Top user testeds' %}</h2>
					<div class="section_subtitle"><p></p></div>
				</div>
			</div>
		</div>
		<div class="row team_row">
			
			
			<!-- Team Item -->
			{%for user in top_user %}
			<div class="col-lg-4 col-md-6 team_col">
				<div class="team_item">
					<div class="team_image"><img src="{{user.avatar.url}}" alt=""></div>
					<div class="team_body">
						<div class="team_title"><a href="#">{{user}}</a></div>
						<div class="team_subtitle">{% trans 'Testeds' %}:{{user.num_tests}}</div>
						<div class="team_subtitle">{% trans 'Learned Words' %}:{{user.num_words}}</div>
						<div class="team_subtitle">{% trans 'Avg' %}:{{user.average_correct}}</div>
						<div class="social_list">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{%endfor%}
		</div>
	</div>
</div>
{% endblock %}
